body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  height: 8000px;
}
:root {
  --bg: rgb(175, 175, 175);
  --primery: black;
  --mono: #df8510;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .container {
  background-color: black;
  display: flex;
  padding: 1.2rem 7%;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--mono);
  text-shadow: 0 0 3px rgba(250, 248, 248, 0.342);
}

.navbar .nav-link a {
  text-shadow: 0 0 5px rgba(131, 118, 0, 0.342);
  font-size: 1rem;
  color: var(--bg);
}
.navbar .container .nav-link a:hover {
  color: var(--mono);
}
.navbar .nav-logo a:hover {
  color: var(--bg);
}
.navbar .nav-link ul {
  display: flex;
  gap: 10px;
  font-family: "Times New Roman", Times, serif;
}
.navbar a:active {
  color: aqua;
}
.navbar a {
  cursor: pointer;
}
.navbar .menu-toggle {
  position: relative;
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
  height: 30px;
}
.navbar .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--mono);
  border-radius: 3px;
}
.navbar .menu-toggle input {
  opacity: 0;
  position: absolute;
  left: -5px;
  width: 30px;
  height: 28px;
  cursor: pointer;
  z-index: 1;
}
.navbar .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.navbar .menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.navbar .menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-1px, 0px);
}
.navbar .menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0px);
}
.navbar .menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
/* akir navbar */

/* hero */
.hero{
  display: flex;
  min-height: 100vh;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.hero .content{
  max-width: 70%;
  padding: 1.4rem 7%;
  text-align: center;
}

.hero .content h1{
  font-size: 3.5rem;
  font-weight: bold;
  color: #df8510;
  text-shadow: -2px -1px 0 rgb(255, 255, 255);
  text-align: center;
  text-transform: capitalize;
line-height: 1.2em;
}

.hero .content h2{
  margin: 5px 0;
  color: white;
  font-size: 2.1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.342);
  text-align: center;
}

.hero .content p b{
  color: #df8510;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.hero .content p{
  color: white;
  line-height: 1.2rem;
}

.hero .content ul{
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
}

.hero .content ul li{
  background-color: none;
  padding: 8px 1px;
  border-radius: 5px;
  border: 2.5px solid #df8510;
  justify-content: center;
  align-items: center;
  
}
.hero .content ul .phone a{
  color: #df8510;
}
.hero .content ul .phone:hover {
 background-color:#dadada88;
 transition: all 0.5s;
 border: 2.5px solid #dadada88;
}

.hero .content ul li img{
  width: 20%;
  margin: 0 3px;
}
.hero .content ul .wa img{
  width: 30%;
}

.hero .content ul .wa{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #2C8A02;
}
.hero .content ul .wa a{
  color: #2C8A02;
}
.hero .content ul .wa:hover {
  background-color:#dadada88;
  transition: all 0.5s;
  color: black;
  border: 2.5px solid #dadada88;
 }

/* akhir hero */

/* tentang kami */
.tentang-kami .container{
  padding: 1.4rem 7%;
}
.tentang-kami .container h2,.customer .container h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1.4rem 0;
}
.tentang-kami .container h2 span, .customer .container span{
  color: #df8510;
}
.tentang-kami .container p{
  line-height: 1.5em;
  text-align: justify;
}
/* akhir tentang kami */

/* customer */
.customer .container{
  padding: 1.4rem 0;
  background-color: #f3f3f3;
}
.customer .container .img{
  display: flex;
  margin: 1.4rem 7%;
}
.customer .container img{
  object-fit:cover;
  width: 100%;
  height: auto;
}
/*akhir customer */

/* alasan */

.alasan{
  text-align: center;
}
.alasan p{
  line-height: 1.5em;
}
.alasan h3{
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  text-transform: capitalize;
}

.alasan .container{
  padding: 1.4rem 7%;
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px, 1fr));
  gap: 1.4rem;
}

/* .alasan .card .icon img{
width: 25%;
height: auto;
} */

.container .card{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 1.2rem 4%;
}

.container .card h4{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 1rem 0;
}
/* akhir alasan */


/* responsive */
/* tablet */
@media screen and (max-width: 768px) {
  .navbar .container {
    padding: 1rem 5%;
  }
  .navbar .menu-toggle {
    display: flex !important;
  }
  .navbar .nav-link ul {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #df8510;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .navbar .nav-link ul.slide {
    transform: translateX(0);
  }
  .navbar .nav-link ul li a {
    color: white;
  }
}
.navbar .nav-link ul li a:hover {
  color: var(--primery);
}

/* phone */
@media screen and (max-width: 550px) {
}
